offwhite = #F7F7F4
offblack = #333333

*
	margin 0
	padding 0
	list-style none
	text-decoration none
	font-family 'Roboto', sans-serif
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	position relative

html, body
	width 100%
	height 100%

body
	background-color white
	position relative
	color offblack
	font-size 16px

a
	color inherit
	margin 0
	padding 0

.link
	text-decoration underline
.link:hover
	text-decoration none




// on smartphones:
@media screen and (max-width: 768px)
	body
		font-size 12px
