doctype html5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title MiX Sound Detector
		link(type='text/fonts', rel='stylesheet', src="/vendor/Roboto")
		link(rel='stylesheet', href="/stylesheets/style.css")

		script(src='/socket.io/socket.io.js')
		script(type='text/javascript', src='//code.jquery.com/jquery.min.js')
		script(type='text/javascript', src='/vendor/jquery.tmpl.min.js')
		script(type='text/javascript', src='/javascripts/index.js')

	body
		.led
			button.enable Led ON
			button.disable Led OFF